@charset "utf-8";
/* CSS Document */

@keyframes fadeRadius {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

html {
    background-color: #191A23;
    color: whitesmoke;
    font-family: "Linux Libertine G";
}

body {
    
}

a {
    text-decoration: none;
}

.back-titre {
    margin: 0;
    padding: 0;
    background: url("/images/background-image.png") no-repeat; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.text-titre {
    margin: 0;
    font-size: 1000%;
    color: whitesmoke;
    font-family: "Linux Libertine G";
    text-align: center;
    margin-bottom: 100px;
}

.bouton-titre {
    display: block;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 90%;
    height: 100px;
    border-radius: 0px;
    background-color: #04002E;
    border-style: none;
    border-radius: 20px;
    opacity: 100%;
    transition: 0.3s;
    font-family: "Linux Libertine G";
    color: whitesmoke;
    font-size: 200%;
}

.bouton-titre:hover {
    background-color:#B47229;
    border-radius: 50px;
    border-style: none;
}
